{% extends 'base.html' %}
{% block content %}
    <section class="site-section">
      <div class="container">       
        <div class="row blog-entries">
          <div class="col-md-12 col-lg-8 main-content">
            <div class="row">
              <div class="col-md-12">
                <h2 class="mb-4"> Империя рецептов! </h2>
                <p class="mb-5"><img src="{{url_for('static', filename='images/logo1.png') }}" width="20%" height="20%" alt="Image placeholder" class="img-fluid"></p>
                <p>Данный проект находится на разработке!</p>
                <p>Мы разрабатываем уникальный проект для любителей еды</p>
                <p>Тут вы сможете делиться интересными рецептами, а так же сохранять для себя рецепты других!</p>
                <p>Что-же... Удачии нам :)</p>
              </div>
            </br>
            </br>
            </div>
          </div>
      </div>
    </section>
    {% endblock %}